<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.heh.main">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="be.heh.auth.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER"
                    android:screenOrientation="portrait" />
            </intent-filter>
        </activity>
        <activity
            android:name="be.heh.auth.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SuperHomeActivity"
            android:label="@string/title_activity_super_home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListUsersActivity"
            android:label="@string/title_activity_list_users"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListAutomatonsActivity"
            android:label="@string/title_activity_list_automatons"
            android:screenOrientation="portrait" />
        <activity
            android:name="be.heh.automatons.AutomatonPillsActivity"
            android:label="@string/title_activity_automaton_pills"
            android:screenOrientation="portrait" />
        <activity
            android:name="be.heh.automatons.AutomatonLiquidActivity"
            android:label="@string/title_activity_automaton_liquid"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterAutomatonActivity"
            android:label="@string/title_activity_create_automaton"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModifyAutomatonActivity"
            android:label="@string/title_activity_modify_automaton"
            android:screenOrientation="portrait" />
    </application>

</manifest>